{% load lazyimages_tags %}

{% if value.background_image %}
  {% lazy_image value.background_image original format-png as img %}
{% endif %}
<section
  class="hero {{ value.hero_class }} {% if value.background_image %}lazy{% endif %}"
  {% if value.background_image %}data-src="{{ img.url }}" style="background-image: url({{ img.lazy_url }}); background-position: center;"{% endif %}>
  <div class="hero-body">
    <div class="container">

      <{{ value.title_tag }} class="title">
        {{ value.title }}
      </{{ value.title_tag }}>

      {% if value.subtitle %}
        <p class="subtitle">
          {{ value.subtitle }}
        </p>
      {% endif %}

      {% if value.cta_text and value.cta_href %}
        <p>
          <a class="button is-link" href="{{ value.cta_href }}">{{ value.cta_text }}</a>
        </p>
      {% endif %}
    </div>
  </div>
</section>