{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags compress sekizai_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
  <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" defer>
  </script>  
{% endblock extra_css %}

{% block global_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
  {% with primary=settings.multisite.SiteBranding.primary_color secondary=settings.multisite.SiteBranding.secondary_color accent=settings.multisite.SiteBranding.accent_color accent_2=settings.multisite.SiteBranding.accent_2_color %}
    <style>
      .site-background-primary {
        background-color: {{ primary }} !important;
      }
      .site-text-secondary {
        color: {{ secondary }} !important;
      }
    </style> 
  {% endwith %}
  {% if page.css_url %}
      <link rel="stylesheet" type="text/css" href="{{ page.css_url }}">
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock global_css %}

{% block base_content %}
  <header>
    <nav id="navBar" class="navbar is-fixed-top has-background-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          {% image settings.multisite.SiteBranding.nav_icon fill-112x28 %}
        </a>

        <a
          :class="{ 'navbar-burger burger': true, 'is-active': burgerIsActive}"
          @click="toggleBurger"
          role="button"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div
        id="navbarBasicExample"
        :class="{ 'navbar-menu has-background-primary': true, 'is-active': burgerIsActive}">

        <div class="navbar-end">
          {% for navbar_item in page.navbar_items.all %}
            <a class="navbar-item" href="{{ navbar_item.navbar_item.link }}" @click="toggleBurger">
              {{ navbar_item.navbar_item.text}}
            </a>
          {% endfor %}
        </div>
      </div>
    </nav>
  </header>

  <main class="content">
    <section
      class="hero is-medium is-bold site-background-primary">
      <div class="hero-body">
        <div class="container">
            <h1 class="title site-text-secondary">{{self.title}}</h1>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        {% include_block page.body  %}
      </div>
      <div class="container">
        <form id="contactForm" class="form" action="{% url 'ajax_contact_forms:simple' %}" method="POST" @submit.prevent="sendContactForm">
            {% csrf_token %}

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" v-model="message" required placeholder="Message"></textarea>
              </div>
            </div>

            <div class="field">
              <label class="label">Email Address</label>
              <div class="control">
                <input class="input" type="email" v-model="emailAddress" required placeholder="john@domain.com">
              </div>
            </div>

            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" type="text" v-model="name" placeholder="Your name is optional">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <template>
                  <vue-recaptcha
                    ref="recaptcha"
                    :sitekey="recaptchaSiteKey"
                    size="invisible"
                    @verify="onVerify"
                    @expired="onExpired"></vue-recaptcha>
                </template>
              </div>
              <p
                :class="{'help': true, 'is-danger': showRecaptchaHelp }"
                v-show="showRecaptchaHelp">Help X of Y prevent spams. Thank you for your understanding <3.</p>
            </div>
            <div class="field">
              <div class="control">
                <button class="button has-background-link is-fullwidth" :disabled="!enableSending">Submit</button>
              </div>
            </div>

            <modal-card
              :message="'Your message has been sent'"
              :title="'Thank you!'"
              :show-modal="showThankYouModal"
              @close-modal="closeModal"></modal-card>
        </form>
      </div>
    </section>
  </main>

  {% addtoblock "js" %}
      <script src="{% static 'vendor/vue/vue.js' %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static 'vendor/axios.min.js' %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static 'vendor/vue-recaptcha.js' %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static "home/navBarApp.js" %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static "js/toc.js" %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static "home/componentModal.js" %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static "ajax_contact_forms/contactFormApp.js" %}" defer></script>
  {% endaddtoblock %}

  {% addtoblock "js" %}
      <script src="{% static 'js/lazyLoader.js' %}" defer></script>
  {% endaddtoblock %}
{% endblock base_content %}