{% load static wagtailuserbar meta %}

<!DOCTYPE html>
<html class="no-js has-navbar-fixed-top" lang="en">
    <head {% meta_namespaces %}>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
        </script>

        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
        </title>
        {% include "meta/meta.html" %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="{% static 'css/bulma-0.8.0/css/bulma.min.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% if debug %}
            <script src='{% static "js/fontawesome.all.js" %}'></script>
        {% else %}
            <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        {% endif %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block content %}{% endblock %}

        {# Global javascript #}


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
