{% load static wagtailuserbar meta compress sekizai_tags custom_sekizai_tags %}

<!DOCTYPE html>
<html class="no-js has-navbar-fixed-top" lang="en">
    <head {% meta_namespaces %}>
        <!-- Google Analytics -->
        <script>
          window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
          ga('create', '{{ settings.multisite.SeoSettings.google_analytics_id }}', 'auto');
          ga('send', 'pageview');
        </script>
        <script defer src='https://www.google-analytics.com/analytics.js'></script>
        <!-- End Google Analytics -->
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
        </title>
        {% include "meta/meta.html" %}

        {% block other_metas %}{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block puput_head %}{% endblock %}

        <link rel="icon" href="{{ settings.multisite.SiteBranding.fav_icon.file.url|default_if_none:'/favicon.ico' }}" />

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

          {% addtoblock 'css' %}
            <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.11.2-web/custom/fontawesome.min.css' %}"></link>
            <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.11.2-web/custom/brands.min.css' %}"></link>
            <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.11.2-web/custom/solid.min.css' %}"></link>
          {% endaddtoblock %}

        {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}
        
        {# Global stylesheets #}
        {% block global_css %}
            {% with settings.multisite.SiteBranding.css as site_css %}
                {% if site_css %}
                    <link rel="preload" as="style" href="{{ site_css.url }}" onload="this.onload=null;this.rel='stylesheet'">     
                    <noscript><link rel="stylesheet" href="{{ site_css.url }}"></noscript>
                {% else %}
                    <link rel="preload" as="style" href="{% static 'css/bulma-0.8.0/css/bulma.min.css' %}" onload="this.onload=null;this.rel='stylesheet'">     
                    <noscript><link rel="stylesheet" href="{% static 'css/bulma-0.8.0/css/bulma.min.css' %}"></noscript>
                {% endif %}
            {% endwith %}
        {% endblock global_css %}

        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"></noscript>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% block header %}{% endblock header %}

        {% wagtailuserbar %}

        {% block base_content %}{% endblock %}

        {% block footer %}
            {% include "footer.html" %}
        {% endblock footer %}
        {# Global javascript #}


        {% custom_render_block "js_first" "js" postprocessor "compressor.contrib.sekizai.compress"  %}
        {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}


        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
