{% extends "puput/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags puput_tags social_share static lazyimages_tags wagtailschemaorg_tags %}

{% block title %}
    {{ self.title }} | {{ blog_page.title }}
{% endblock title %}

{% block global_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/code.css' %}">
  {% if page.css_url %}
      <link rel="stylesheet" type="text/css" href="{{ page.css_url }}">
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock global_css %}

{% block meta_title %}
    {% if self.seo_title %}
        {{ self.seo_title }}
    {% else %}
        {{ self.title }}
    {% endif %}
{% endblock meta_title %}

{% block meta_description %}
    {% if self.search_description %}
        {{ self.search_description }}
    {% else %}
        {{ self.body|striptags|truncatewords:20 }}
    {% endif %}
{% endblock meta_description %}

{% block canonical %}
    {{ self.get_absolute_url }}
{% endblock canonical %}

{% block social_share %}
    {% lazy_image self.header_image fill-800x450 format-webp as share_image %}
    <meta property="og:title" content="{{ self.title }}" />
    <meta property="og:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
    <meta property="og:url" content="{% canonical_url entry=self %}" />
    {% if self.header_image %}
        <meta property="og:image" content="{% image_url share_image.url %}" />
        <meta property="og:image:width" content="800" />
        <meta property="og:image:height" content="450" />
        <meta name="twitter:image" content="{% image_url share_image.url %}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.title }}" />
    <meta name="twitter:description" content="{% if self.excerpt %}{{ self.excerpt|striptags }}{% else %}{{ self.body|striptags|truncatewords:20 }}{% endif %}" />
{% endblock social_share %}

{% block header %}
    {{ block.super }}    

    {% block header_title %}
      <p class="title">
          <a class="has-text-white" href="{% pageurl blog_page %}">{{ blog_page.title }}</a>
      </p>
    {% endblock header_title %}
{% endblock header %}

{% block content %}
    <article class="box page-content"
             {% if self.id %}data-entry-page-update-comments-url="{% url 'entry_page_update_comments' self.id %}{% endif %}">
        {% include 'puput/entry_page_header.html' with entry=self %}
        {% if self.header_image %}
            <section>
                <figure class="image featured">
                    {% lazy_image self.header_image fill-800x450 format-webp as header_image %}
                    <img class="lazy" alt="{{ self.header_image.title }}" src="{{ header_image.lazy_url }}" data-src="{{ header_image.url}}">
                </figure>
                {% include 'puput/entry_links.html' with entry=self %}
            </section>
        {% endif %}
        <section>
            {% include_block page.stream_body  %}
            <div class="row">
                <div class="col-md-2">
                    <a href="{% pageurl blog_page %}" class="blog_btn back">
                        <i class="fa fa-angle-left"></i> {% trans 'Return' %}
                    </a>
                </div>
                {% entry_url self blog_page as post_url %}
                <ul class="social-share-all text-right col-md-10">
                    <li class="social-item">
                       {% post_to_facebook post_url '<span><i class="fab fa-facebook has-text-black"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_twitter self.title post_url '<span><i class="fab fa-twitter has-text-black"></i></span>' %}
                    </li>
                    <li class="social-item">
                        {% post_to_linkendin post_url '<span><i class="fab fa-linkedin has-text-black"></i></span>' %}
                    </li>
                </ul>
            </div>

        </section>
        {% show_comments %}
    </article>
{% endblock content %}

{% block extra_content %}
    {% if self.has_related %}
        {% include 'puput/related_entries.html' with entry=self %}
    {% endif %}
{% endblock extra_content %}

{% block extra_js_end %}
    {% ld_for_object %}
{% endblock extra_js_end %}
